[user]
  name = Jordan Duabe
  email = me@jduabe.dev

[init]
  defaultBranch = main

[help]
  autoCorrect = prompt

[alias]
  br = branch
  ci = commit
  di = diff
  dis = diff --staged
  lg = log --oneline --graph --abbrev-commit --date=relative
  rs = restore
  rss = restore --staged
  st = status -sb
  sh = stash
  sq = rebase -i HEAD~2
  sw = switch

[core]
  editor = vi
  pager = delta

[merge]
  conflictstyle = diff3

[delta]
  features = side-by-side unobtrusive-line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = Solarized (dark)
  plus-style = "syntax #003800"
  minus-style = "syntax #3f0001"
  navigate = true

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#444444"
  line-numbers-zero-style = "#444444"
  line-numbers-plus-style = "#444444"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box

[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only

[diff]
  colorMoved = default

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[rerere]
  enabled = true

[fetch]
  prune = true

[push]
  autoSetupRemote = true
