[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
